GITHUB_OWNER=erwinorellano
GITHUB_REPO=CETPRO-HUARMEY
GITHUB_BRANCH=main
GITHUB_TOKEN=
ADMIN_EMAILS=huarmey@cetpro.com
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
ALLOWED_ORIGIN=https://erwinorellano.github.io
